*.synctex.gz
*.pdf
*.sta
tex/*.pdf
tex/*.sta
*.synctex(busy)
*.txt
*.bak
*.docx
*.doc
*.aux
*.log
*.aux
tex/*.log
tex/*.aux
Images/HighRes/*
Images/HighRes/**
Images/HighRes
*.pl
.DS_Store
*.bbl
*.bcf
*.blg
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.sav.tmp
temp
*.sav
*.xml
Images/LowRes/*
Images/LowRes/**
Images/LowRes
!Images Source/*
.DS_Store
.vscode
!Images/**/*.pdf
!Images/**/*.txt
*.lof
*.lot
*.toc